{% liquid
  assign min = 1
  assign max = 10000
  assign diff = max | minus: min
  assign randomNumber = 'now' | date: '%N' | modulo: diff | plus: min
%}

{%- style -%}
  #ch{{ randomNumber }}.custom-hero {
    display: grid;
    grid-template-columns: 21.19fr 21.31fr 57.5fr;
    grid-template-rows: 180px auto minmax(190px, 7vw) 137px;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-title {
    font-size: 60px;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-background {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    background: {{ section.settings.contentBackground }};
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-image-background {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    background: {{ section.settings.imageBackground }};
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-image {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    background: url('{{ section.settings.image | img_url: 'original' }}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-content {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner {
    padding-left: 50%;
    color: var(--colorHeroText);
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner .hero__link {
    opacity: 1 !important;
    margin-top: 60px;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner .hero__link .btn {
    opacity: 1 !important;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner p {
    margin: 0 !important;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner p:nth-of-type(3) {
    padding-top: 24px;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner p:nth-of-type(2) {
    padding-top: 48px;
  }

  #ch{{ randomNumber }}.custom-hero .custom-hero-inner p:nth-of-type(1) {
    padding-top: 29px;
  }

  @media only screen and (max-width: 1200px) {
    #ch{{ randomNumber }}.custom-hero {
      grid-template-columns: 20fr 25fr 55fr;
      grid-template-rows: 140px auto minmax(150px, 7vw) 100px;
    }
  }

  @media only screen and (max-width: 1000px) {
    #ch{{ randomNumber }}.custom-hero {
      grid-template-columns: 18fr 32fr 50fr;
      grid-template-rows: 120px auto minmax(130px, 7vw) 80px;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-inner {
      padding-left: 55%;
    }
  }

  @media only screen and (max-width: 900px) {
    #ch{{ randomNumber }}.custom-hero {
      grid-template-columns: unset;
      grid-template-rows: 20vh 25vh auto;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-background {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-image-background {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-image {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      margin-left: 40px;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-content {
      grid-column: 1 / span 1;
      grid-row: 3;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-inner {
      padding-left: unset;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-title {
      font-size: 54px;
      margin-top: 25px;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-inner .hero__link {
      margin: 50px 0;
    }

    #ch{{ randomNumber }}.custom-hero .custom-hero-inner .hero__link .btn {
      margin: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    #ch{{ randomNumber }}.custom-hero .custom-hero-image {
      margin-left: 30px;
    }
  }
{%- endstyle -%}

<div id='ch{{ randomNumber }}' class='custom-hero'>
  <div class='custom-hero-background'></div>
  <div class='custom-hero-image-background'></div>

  {%- if section.settings.image != blank -%}
    <div class='custom-hero-image'></div>
  {% endif %}

  <div class='custom-hero-content'>
    <div class='page-width' data-aos>
      <div class='custom-hero-inner'>
        {%- if section.settings.title != blank -%}
          <h2 class='h2 custom-hero-title'>{{ section.settings.title }}</h2>
        {%- endif -%}
        {%- if section.settings.subtitle != blank -%}
          {{ section.settings.subtitle }}
        {%- endif -%}
        {%- if section.settings.first != blank -%}
          {{ section.settings.first }}
        {%- endif -%}
        {%- if section.settings.buttonText != blank -%}
          <div class='hero__link'>
            <a href='{{ section.settings.buttonLink }}' class='btn btn--inverse'>
              {{ section.settings.buttonText }}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Hero",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hi, I’m Christina."
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p><em>Founder… And fellow acne sufferer.</em></p>"
    },
    {
      "type": "richtext",
      "id": "first",
      "label": "First Paragraph",
      "default": "<p>Authentic Ego was built to bridge the gap between big beauty and people just like you—it's the rebel brainchild that stems from witnessing the beauty industry mislead customers who are suffering from acne and other skin problems. While others sell you unnecessary garbage made with the wrong ingredients at the wrong concentrations with the wrong pH, we focus on principles first: Helping you heal your skin’s natural barrier.</p>"
    },
    {
      "type": "color",
      "id": "contentBackground",
      "label": "Content Background Color",
      "default": "#CDA076"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "color",
      "id": "imageBackground",
      "label": "Image Background Color",
      "default": "#EDD5C4"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button Text",
      "default": "Read more"
    }
  ],
  "presets": [
    {
      "name": "Custom Hero"
    }
  ]
}
{% endschema %}
